.test{
    width: 200px;
    height: 200px;
    background-color: pink;

    animation-name: identifier;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.test:hover{
    animation-play-state: paused;
}

.map{
    position: relative;
    width: 1920px;
    height: 1200px;
    background: url(../image/map.jpg) no-repeat;
    margin: 0 auto;
}
.city{
    position: absolute;
    top: 400px;
    left: 1150px;
    color: #fff;
}
.dotted{
    width: 8px;
    height: 8px;
    background-color: rgb(231, 7, 63);
    border-radius: 50%;
}
.city div[class^="pulse"]{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    width: 8px;
    height: 8px;
    border-radius: 50%;
    box-shadow: 0 0 12px #fa124c;

    animation-name: pulse;
    animation-duration: 1.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.pulse1{
    animation-delay: 0.4s;
}
.pulse2{
    animation-delay: 0.8s;
}
.pulse3{
    animation-delay: 1.2s;
}