@keyframes identifier {
    0%{
        transform: translate(0,0);
    }
    25%{
        transform: translate(500px,0)
    }
    50%{
        transform: translate(500px,500px)
    }
    75%{
        transform: translate(0,500px)
    }
    100%{
        transform: translate(0,0);
    }
}