<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ECharts</title>
    <style>
        .div1{
            width: 100px;
            height: 100px;
            background: skyblue;
        }
        .red{background: rgb(238, 108, 48);}
    </style>
</head>
<body>
    <div id="box">
        <h3>{{order}}</h3>
        <hr>
            <table>
                <thead>
                    <tr>
                        <th>订单名</th>
                        <th>编号</th>
                        <th>index</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item, index) in order" :key="index">
                        <th>{{item.name}}</th>
                        <th>{{item.desc}}</th>
                        <th>{{item.name}}</th>
                    </tr>
                </tbody>
            </table>
        <hr>
        <input type="text" v-model="order">
        <button @click="fn">click me</button>
        <hr>
        <ul>
            <li :class='{red:item.bol}' v-for="(item, index) in arr" :key="index" @click="cc(index)" >{{item}}</li>
        </ul>
        <button @click="add">test</button>
    </div>
</body>
</html>
<!-- 引入 echarts.js -->
<script src="/js/jquery-1.12.4.min.js"></script>
<script src="/vue/vue.min.js"></script>
<script>
    var app = new Vue({
        el:'#box',
        data() {
            return {
                order:[],
                bol : true,
                arr:[
                    {desc:'aaaaa',bol:false},
                    {desc:'bbbbb',bol:false},
                    {desc:'ccccc',bol:false},
                    {desc:'ddddd',bol:false},
                    {desc:'eeeee',bol:false},
                    {desc:'fffff',bol:false},
                ],
            }
        },
        methods: {
            add:function()
            {
                var ordera =  {'name':'第二次添加','desc':'aaaaaaa'}
                ;   
                app.order.push(ordera);
            },
            fn:function(){
                console.log('fn' + this.order);
                $.ajax({
                    type: "POST",
                    url: "/index.php/api/mobilereport/doTest",
                    data: "",
                    dataType: "json",
                    success: function (res) {
                        console.log(res);
                        console.log('a');
                        // console.log('ajax' + this.order);
                        app.order = res.order;
                    }
                });
            },
            cc:function(index){
                for (var i =0 ; i < this.arr.length; i++) {
                    this.arr[i].bol = false;
                }
                this.arr[index].bol = true;
            }
        },
    });
</script>