<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ECharts</title>
    <style>
        #box{
            width: 350px;
            margin: 30px auto;
            background: #eee;
            padding: 15px;
        }
        ul{
            list-style: none;
            padding-left: 0;
        }
        .add{
            width: 200px;
            height: 20px;
            margin-right: 10px;
        }
        .done{
            color: skyblue;
        }
    </style>
</head>
<body>
    <div id="box">
        <h2>任务列表 : </h2>
        <p>任务总数 : 10; 还有 : 3 未完成 【 <span class="done">完成</span> 】</p>
        <ul>
            <li><input type="checkbox" name="" id="">JAVA</li>
            <li><input type="checkbox" name="" id="">PHP</li>
            <li><input type="checkbox" name="" id="">C#</li>
        </ul>
        <input type="text" name="" id="" class="add"><button>添加</button>
    </div>
</body>
</html>
<!-- 引入 echarts.js -->
<script src="/js/jquery-1.12.4.min.js"></script>
<script src="/vue/vue.min.js"></script>
<script>
    
</script>